
/* Add code for container class below */
*{
  margin: 0;
}

body{
  font-size: .8rem;
  padding: 1rem 5rem .5rem 5rem;
  background-color:rgb(204, 215, 218);
  box-sizing: border-box;
}

@media (min-width: 440px) {
    .container {
      background-color: antiquewhite;
      grid-gap: .5rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: "header header header" 
                            " main main main"
					                 "footer footer footer";
    /* Add rules here */
    }
}


.miniDash{
  color: black;
  height: 15rem;
  width: auto;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  background-image: url('../assets/lowcarblead.jpg');
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align:start;
  text-align-last:start;
  justify-content: space-around;
  white-space: pre-wrap;
}

nav li{
  display:inline-block;
  margin-left: 1rem;
}
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}
/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

.list-nav{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar img{
  display: block;
  margin-right: auto;
  padding: 1.5rem 0;
  border-radius: 1rem;
  width:100%;
  height: 20rem;
  margin-bottom: 1rem;
}


.home-logo > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 30%;
  height: auto;
}
/* Properties for other selectors */
.header {
    grid-area: header;
    border-radius: 1rem;
    display: flex;
    height: 4rem;
    margin-bottom: 0.5rem;
    align-items: center;
    background-color:black;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

  
.main {
    grid-area: main;
    border: 0.0rem solid olive;
    border-radius: 1rem;
    padding: 0;
    text-align:auto;
    display: flex;
    flex-direction: column;
   
   
}
  
.sidebar {
  display:flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: .5rem;
  background-color: peachpuff; 
  text-align:auto;
  width: 33%;
  height: auto;
  box-sizing: border-box;
  
  
  }
  .sidebar > a{
    color:blue;
    padding-top: 1rem;
  }
.article{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
  
.footer {
    grid-area: footer;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: rem;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    color: black;
    text-align: center;
  }
  #footer-text{
    margin-left: auto;
  }
  .footer img{
    width: auto;
    height: 100%;
  }
